{% extends "base.html" %}
{% block content %}
<h1>Member Mash</h1>
<p>What would you get if you combined two sitting members of Congress? Find out what bills that hybrid would sponsor, where it would get their campaign contributions and how internally conflicted it would be. Speculational fun for the whole family!</p>
<p><a href="{% url membermash-legislators-random %}" style="display: inline-block; border: 1px solid #000; padding: 0.25em;">Click here to mash two random candidates</a></p>
{% endblock content %}
